h1{
    color: rgb(68, 2, 250)
}
h2{
    color: rgb(68, 2, 250)
}
h3{
    color: rgb(68, 2, 250)
}
h4{
    color: rgb(68, 2, 250)
}
h5{
    color: rgb(68, 2, 250)
}
h6{
    color: rgb(68, 2, 250)
}
body{
    background-color: lightgreen;
}